* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
@font-face {
    font-family: 'TTNormsProCond-Blk';
    src: url(/fonts/TTNorms-Regular.otf);
}

@font-face {
    font-family: 'TTNormsProCond-Bold';
    src: url(/fonts/TTNorms-Bold.otf);
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url(fonts/Rubik-ExtraBold.ttf);
}
@font-face {
    font-family: 'Rubik-Regular' ;
    src: url(fonts/Rubik-Regular\ \(2\).ttf);
}

body{

    font-family: 'Roboto', sans-serif;
    

}

:root{
    --primary: 'TTNormsProCond-Blk';
    --secondary: 'TTNormsProCond-Bold';
}
.app-bar{
    
   display: flex; 
   background: #fff;
   justify-content: space-between;
   margin: 10px;
   height: 76px;
  

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247.77px;
    height: 77px;
    gap: 5px;
}  

.logo-text{
    font-size: 8px;
    padding: -20px;
    margin: 0;
    gap: 20px;
    
}


.app-bar img{
   border: 1px solid #f1f1f1;
   padding:  10px 5px;
   border-radius: 10px;
   width: 64px;
   height: 64px;
   margin-right: 5px;
   margin-top: 15px;

}

.app-bar .open{
    background-color: #eb1700 ;
    color: white;
    border-radius: 9999px;
    margin-top:30px;
    border: none;
    height: 32px;
    margin-left: 55px;
    width: 66.2px;
    font-family: 'TTNormsProCond-Bold';
   
    
}

.open{
    font-family: TTNormsProCond-Blk;
    font-size: 17px;
   
}

.open:hover{
    background-color: #d81904;
}
    
.logo-text{
    margin-top: 15px;
}
.logo-text h3{
    width: 178.77px;
    height: 19px;
    font-family: 'TTNormsProCond-Bold';
    font-size: 16px;
    font-weight: 300;
}
.logo-text h4{

    font-family: 'TTNormsProCond-Blk';
    font-size: 14px;
    margin-top: 3px;
    color: #606060;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: -0.01px;


}
.rating{
    display: flex;
    gap: 1px;
    
}

.rating h4{
    
    /* margin: 4px 0px 0px; */
    font-weight: 550;
    line-height: 20px;
    letter-spacing: -0.01px;
    margin-top: 1px;

    
}



.fa-star{
    color: rgb(226, 197, 33);
    /* margin-top: 4px; */
    padding: 2px;
    font-size: 10px;
    margin: 4px -3px 0px 0px;
    
   
    
}
.fa-star-half-alt{
    /* margin-top: 4px; */
    color: rgb(211, 183, 24);
    padding: 2px;
    font-size: 10px;
    margin: 4px -3px 0px 0px;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    background-image:url(images/bgbanner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5vh 20px 2vh;
    min-height: 80vh;
} 


.hero-content{
    
    max-width: 400px;
    font-family: 'TTNormsProCond-Bold' ;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    justify-content: center;
    align-items: center;
    margin-top: -42px;
                                           
}


.hero-content img{ 
    margin-top: 30px;         
    width: 190px;
    height: 42px;
}  
.option-button{
 position: relative;
 /* margin-left: 50px;    */
}

.search{
    display: flex;
    min-height: 40px;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 298px;
    max-width: 400px;
    padding: 0 15px;
    height: 52px;
    margin: 20px auto;
    justify-content: center;
}

.search .placeholder{
    font-family: var(--primary);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -0.01px;
    width: 100%;

}

.search-tablet{
    display: none;
}
.search input{
    padding: 12px;
    border: none;
    /* width: 60%; */
    height: 100%;
    font-size: 17px;
    color:#191919;
    
}
.search .fa-magnifying-glass{
    /* margin-left: 10px; */

    cursor: pointer;

}
.search .fa-arrow-right{
   
    cursor: pointer;
}


                    
.option-button{                    
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 12px;
   
}

.option-button .login{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#ffffff;
    border-radius: 20px;
    border: none;
    width: 81.06px;
    height: 32px;
    border: none;
    gap: 6px;
    cursor: pointer;
    font-family: var(--secondary);
   

}

.option-button button{
    
    border: none;
    cursor: pointer;
   background-color: white; 
   font-family: var(--primary);
   font-size: 14px;
   font-weight: 900;
   
}
.option-button .location{
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: none;
    padding: 5px 7px;
    border-radius: 20px;
    /* width: 181px; */
    height: 32px; 
     
    gap: 5px; 
   
}

.option-button .fa-location-arrow{
       
    margin-top: 4px;

}

.topbuttons{
 position: absolute;
 top: 15px;
 right: 20px;
 z-index: 1000;   
 display: flex;
 
 align-items: center;  
 gap: 110px; 
}

.auth-button{
    display: none;
}

.signin , .signup{
    position: relative;
    max-width: 100%;
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding: 10px 12px;
    font-family: var(--secondary);
    border-radius: 20px;
    font-size: 16px;
    width: auto;
    
}

.signin{
    background-color:#eb1700;
    color: white;
}

.signup{
    background-color: white;
    color: #606060;


}
.topbuttons .open-app{
 font-family: 'TTNormsProCond-Bold';
 font-size: 16px;
 background-color: #eb1700;
 border-radius: 9999px;
 /* margin-top: 10px; */
 /* margin-right: 10px; */
 padding: 4px;
 width: 100.81px;
 height: 40px;
 border: none;
 color: white;
 font-weight: 700;
 letter-spacing: -0.01px;
 
}

.open-app:hover{
    background-color: #d81904;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px ;
    
    height: 23.8vh;
    width: 363px;
    border: 1px solid #eceaea;
}

.card-content{
    display: flex;
    align-items: center;
    gap: 10px;
    
} 
.card-content img{
    
    background-color: rgb(255, 255, 255);
    padding: 10px;
    /* margin: 20px 10px; */
    width: 60px;
    height: 40px;
   
 
}

.card .mbutton{
    margin-top: 2px;
    font-size: 15px;
    width: 321px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #eb1700;
    color: white;
    font-family: var(--secondary);
    
}
.text h4{
    font-family: var(--secondary);
    font-size: 18px;
    margin-top: -20px;
}
.text p{
    color: #606060;
    font-size: 14px;
    font-family: var(--primary);
}
.rating .rating-text{
    color: #606060 ;
    margin-top: 2px;
    
   
}   

.card-content .card-img{
    background-color: #fff;
    border-radius: 10px;
    height: 60px;
    width: 65px;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.info{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    max-width: 768px;
    margin: 0px auto;
    display: block;
}

.info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
     
}
.info-area{

    /* max-width: 700px;   
    margin-top: 64px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:self-start;
    
   */
    display: flex;
    width: 100%;
    min-width: 360px;
    flex-flow: row;
    max-width: 100%;
    padding: 16px 16px;
    margin-top: 40px;
    margin-bottom: 30px;
       
}       

.dasher-text h3{
    color: #191919;
    text-transform: none;
    display: block;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-family: var(--secondary);
    font-size: 34px;
    margin-bottom: 10px;
    width: 208px;
    height: 80px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
    

}     


.dasher-text p{
    
    font-family: var(--primary);
    font-size: 18px;
    width: 260px;    
    /* margin-bottom: 12px; */
    font-weight: 500;
    line-height: 24px;  
    letter-spacing: -0.01px;   
    text-decoration: none;
    text-align: left;
                                  
}

 
.merchant-text h3{                    
    /* margin-top: -30px;*/
    font-family: var(--secondary);
    font-size: 34px;
    /* margin-bottom: 5px; */
    width: 208px;
    height: 80px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;

      
}         

.merchant-text p{
    
    font-family: var(--primary);
    font-size: 18px;
    width: 260px;
    /* margin-bottom: 15px; */
    font-weight: 500;
    line-height: 24px;  
    letter-spacing: -0.01px;   
    text-decoration: none;
    text-align: left;
                      
    
}
                  
.mob-text h3{
    /* margin-6+top: -30px; */
    font-family: var(--secondary);
    font-size: 34px;
    /* margin-bottom: 5px; */
    width: 208px;
    height: 80px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    text-decoration: none;
}


.mob-text p{
    margin-top: 40px;
    font-family: var(--primary);
    font-size: 18px;
    width: 260px;
    margin-bottom: 20px; 
    font-weight: 500;
    line-height: 24px;  
    letter-spacing: -0.01px;   
    text-decoration: none;
    text-align: left;
                      
    
   
}

.info-area .link1{
    font-family: var(--secondary);
    font-size: 14px;
    text-decoration: none;
    color: #eb1700;
    font-weight: 700;
    line-height: 20px;
    
    
}

.info-area .link2{
    font-family: var(--secondary);
    font-size: 14px;
    text-decoration: none;
    color: #eb1700;
    font-weight: 700;
    line-height: 20px;
}

                     

.info-area .link3{
    font-family: var(--secondary);     
    font-size: 14px;
    text-decoration: none;
    color: #eb1700;
    font-weight: 700;
    line-height: 20px;
    
}           

.info-area .fa-arrow-right{
    font-size: 12px;
    margin-left: 1%;
    font-weight: 700px;
    
    color: #eb1700;
}
.info-area img{ 
    
    width: 88px;
    height: auto;
    margin-right: 30px;
}                         
  

.scroll {  

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1200px;                    
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
                                
}


.scroll::before {
  content: '';
  position: absolute;
  top: 100px;             
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgb(254, 241, 238);
  z-index: -1;
}
         
.scroll-block {          
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 20px;
  max-width: 100%;
  
}

.s-image{
  width: 100%;
  height: 180px;
  overflow: hidden;

}

.s-image img {
  margin-top: 2x;
  width: 100%;
  height: 100%;         
  object-fit: cover;
  object-position: center;
  
}

.scroll1, .scroll2 {
 
  margin-top: 20px 0 0;
  max-width: 500px;
}
.scroll1 h2, .scroll2 h2{
     line-height: 28px;
     font-weight: 700px;
     margin-top: 24px;
     font-family: var(--secondary);
     color: #191919;
     font-size: 24px;
}

.scroll1 h4, .scroll2 h4{
    margin-top: 11px;
   font-family: var(--secondary);
   color: #191919;
   font-size: 18px;
}

.scroll1 p, .scroll2 p{
   letter-spacing: -0.01px;
   font-family: var(--primary);
   line-height: 25px;
   margin-top: 11px;
   font-weight: 500px;
  
   color: #191919ff;
   font-size: 14px;
}

.bn{
  position: relative;
  display: inline-flex;
  height: 32px;
  width: auto;
  margin-top: 12px;
  background-color:#eb1700;
  color: white;
  border: none;
  align-items: center;
  border-radius: 999px;
  padding: 10px 18px;
  font-size: 14px;
  justify-content: flex-start;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: -6px;
}

.grocery{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image:url(images/hand-background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 51.5vh; 
    margin-bottom: -70px;
        
}
.overlap{
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.groc-content {
    position: relative;
    z-index: 2;
    margin-top: 90px;
    color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

}
.groc-button{
    display: inline-block;
    margin-top: 20px;
    background-color: #eb1700;
    border: none;
    height: 34px;
    width: 124px;
    border-radius: 30px;
    color: white;
    font-family: var(--secondary);
}  
.groc-content h1{
    font-family: var(--secondary);
    font-size: 24px;
    font-weight: 700px;
    line-height: 28px;
    text-decoration: none;
    display: block;
}

.groc-content h3{
    font-family: var(--secondary);
    font-size: 18px;
    font-weight: 700px;
    line-height: 22px;
    text-decoration: none;
    display: block;
}

.groc-content h5{
    font-family: var(--primary);
    font-size: 14px;
    font-weight: 700px;
    line-height: 20px;
    text-decoration: none;
    display: block;
}

.scrolltwo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;                    
  margin-right: auto;
  margin-top: 72px;
                                
}                           
.scroll-block2 {               
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 20px;
  
}

.s-image2{
  width: 100%;
  height: 180px;
  overflow: hidden;
  

}
.s-image2 img {
  margin-top: 2x;
  width: 100%;
  height: 100%;         
  object-fit: cover;
  object-position: center;
  
}  

.scroll3 {
  margin-left: 8px;
  margin-top: 20px 0 0;
  max-width: 100%;
}
.scroll3 h2{
    line-height: 28px;
    font-weight: 700px;
    margin-top: 24px;
   font-family: var(--secondary);
   color: #191919;
   font-size: 24px;
}

.scroll3 h4{
    margin-top: 11px;
   font-family: var(--secondary);
   color: #191919;
   font-size: 18px;
}

.scroll3 p{
   letter-spacing: -0.01px;
   font-family: var(--primary);
   line-height: 20px;
   margin-top: 10px;
   font-weight: 500px;
   color: #191919ff;
   font-size: 14px;
}

.hside-scroll {
  background-color: #fef3ef;
  /* padding: 40px 20px; */
  text-align: center;
  margin-bottom: 18px;
  height: 78vh;
  /* padding-bottom: 5px; */
  margin-bottom: -10px;
  overflow: hidden;
  
  
}




.hside-scroll h2{
    letter-spacing: -0.01px;
    font-size: 24px;
    color: #191919ff;
  text-align: center;
  font-family: var(--secondary);
  font-weight: 700;
  text-decoration: none;
  margin-top: 40px;
  
}

.scroll-container {
  display: flex;
  overflow-x: scroll;
  gap: 16px;
  padding: 10px 0px;
  /* scroll-snap-type: x mandatory;  */
  /* -webkit-overflow-style: none; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scroll-container::-webkit-scrollbar {
    display: none;
}

.side {
  flex: 0 0 90%; 
  margin-left: 8%;
  margin-right: -15%;
  max-width: 90%;
  min-height: 380px;  
  padding: 20px;
  /* overflow-x: scroll; */
  align-items: center;
  display: flex;
  flex-direction: column;
}
.side-pic{

  width: 100%; 
  height: auto;
  overflow: hidden;
  margin-top: 14px;


}

.side-pic img{
  margin-top: 35x;
  width: 100%;
  height: 180px;         
  object-fit: cover;
  object-position: center;
  
}

.side-text {
    
  margin-top: 16px;
  padding: 15px;
}

.side-text h3 {
  margin-bottom: 25px;
  font-family: var(--secondary);
  max-width: 350px;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.side-text p {
    max-width: 900px;
    color: #191919;
    font-family: var(--primary);
  font-size: 14px;
  
  font-weight: 580;
  margin: 0 0 15px 0;
}

.shop-button {
  background-color:#eb1700;
  color: white;
  border: none;
  border-radius: 999px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
} 


.mod-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    
}

.mod-heading .h1{
   
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    max-width: 500px;
    letter-spacing: -0.01px;
    font-family: var(--secondary);
    font-size: 24px;
    margin-bottom: 15px;
}

.hello {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1200px;                    
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
                                
}

.hello::before {
  content: '';
  position: absolute;
  top: 150px;             
  left: 0;
  right: 0;
  height: 82%;
  background-color: rgb(254, 241, 238);
  z-index: -1;
}


.neighborhood{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}
.neighbor-heading{
    margin-top:50px ;
    margin-bottom: 2px;
}


.neighbor-heading h2{
    /* margin-top: 45px; */
    height: 20vh;
    text-align: center;
    font-family:var(--secondary);
    font-size: 32px;
    

}

.list-heading{
   display: grid;
   grid-template-columns:repeat(3,1fr) ;
   width: 100%;
  margin-top: -36px;
   background-color: #fff;
   gap: 0;
   width: 100%;
   font-family: var(--secondary);
   font-size: 16px;
   color: #191919;
   cursor: pointer;

}            

.category-table ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
     gap:0.4px;
    
}

.category-table li{
    cursor: pointer;
    margin-top: 18px;
    list-style-type: none;
    /* display: block; */
    font-family: var(--primary);
    font-size: 16px;
    line-height: 19px;
    font-weight: 550;   
}
.top-button1, .top-button2, .top-button3{
    font-family: var(--secondary);
    background-color: white;
    height: 40px;
    border: none;
    font-size: 14px;
}

.top-button1:hover {
  background-color: #f5eae7;
}
.top-button2:hover {
  background-color: #f5eae7;
}
.top-button3:hover {
  background-color: #f5eae7;
}
.top-button1{
  border-bottom:3px solid #191919; 

}

.top-button2, .top-button3{
  border-bottom:2px solid #e2dada; 

}
.category-table li:hover{
    text-decoration: underline;
}

.seemore{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 10px;
    
}
.seemore h2{      
    font-family: var(--secondary);
    font-size: 20px;                                 
       
}

.down svg{
   
    border-radius: 30px;
    background-color: #f1f1f1;
    color: #191919;
    box-shadow: 1px;
    width: 24px;
    height: 24px;
     
    
}     
 
.footer {   
  background-color: #191919;
  color: white;
  padding: 40px 20px;
  font-family: var(--primary);
  
}

.footer-container {
  width: 100%;
  margin: auto;
  height: auto;
  
  
}   
.footer-content-top h3{
   font-size: 16px; 
   margin-top: -6px;
}      

.footer-links{
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  grid-auto-flow: column;
  grid-template-rows: repeat(9, auto);
  background-color: #191919;
  color: white;
  padding-top: 20px;
  font-family: var(--primary);
  gap: 2px 10px;
    
}

.footer-links a{
    text-decoration: none;
    color: #c4c4c4;
    font-family: var(--primary);
    font-size: 14px;
    
    line-height: 1.6;
   
}
.footer-links a:hover{

    text-decoration: underline;
}    
 
.two-box{

    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.app-store, .google-play{
    cursor: pointer;
    background: rgb(73, 73, 73);
     border-radius: 8px;
     padding: 2px 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     fill: #cac5c5;
}

.footer-content{
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.footer-content h3{
   font-size: 16px;
}

.footer-ver-links{
  display: flex;
  flex-direction: column;
  background-color: #191919;
  color: white;
  padding: 40px 20px;
  font-family: var(--primary);
  gap: 10px 10px;
     
}

.footer-ver-links a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #c4c4c4;
    align-self: center;
    font-size: 14px;

}  
 .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icons{
    display: flex;
    gap: 10px;

 }

.footer-last{
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.last-links{

margin-top: 12px;
display: flex;
flex-wrap: wrap;
align-self: center;     
gap: 1px 10px;
justify-content: center;
}
 

.last-links a, .last-links{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    line-height: -10px;
    
    /* padding: 10px; */
   
       
}
.last-links a:hover{
    text-decoration: underline;
}

.last-links svg{
    margin-bottom: 10px;
    color: white;
    width: 32px;
    height: 18px;
    fill: #ffffff;

}

@media screen and (max-width:767px) {
   /* .search-container{
    display: none;
   }   */
}  

@media screen and (min-width:768px){
    .app-bar{

        display: none;
    }

   .open-app{   

        display: none;

    }

    .auth-button{
         display: flex;
         gap: 10px;
    }

    .hero{
        height: 95.5vh;
    }

    .hero img{
        transform: translateY(-220px);
        width: 192px;
        height: 42px;  
    }

    .hero-content{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        max-width: 800px;
    }

    .hero-content h1{
        
        display: block;
        max-width: 750px;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        white-space: nowrap;
        text-align: center;
        font-size: 40px;
        text-decoration: none;
        width: 672.31px;
        font-weight: 900;

    }

    .topbuttons img{
        display: flex; 
        justify-content: center;
        align-items: center;

    }
    
    .scroll-block {
        flex-direction: row ;
       
        /* align-items: center; */
        justify-content: space-between;
        margin-bottom: -60px;
        display: flex;
        padding: 60px 0;
        gap: 40px;
        min-width: 90%;
        -webkit-box-align: center;
        align-items: center;
        padding: 20px;

    }
    .scroll1, .scroll2{
        display: flex;
        flex: 1;
        max-width: 50;
        flex-direction: column;
        justify-content: center;
    }
    .scroll1 h2, .scroll2 h2{
        max-width: 90%;
        margin-top: 20px;
        color: #191919;
        font-family: var(--secondary);
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.01px;
        text-decoration: none;

    }

    .scroll1 h4{
        margin-top: 20px;
        font-family: var(--secondary) ;
        width: 386.25px;
        height: 24px;
        font-size: 20px;
        font-weight: 700;
    }

    .scroll1 p, .scroll2 p{

        margin-top: 10px;
        font-family: var(--primary);
        width: 386.25px;
        height: 24px;
        font-size: 16px;
        font-weight: 500;
         line-height: 22px;
        letter-spacing: -0.01px;
        text-decoration: none;

    }

    

    .scroll-block:nth-child(odd){

        flex-direction: row-reverse;
    }
   

    .s-image{
        width: 318.75px;
        height: 500px;
        flex: 1;
        max-width: 45%;
        margin-bottom: 80px;
        
    }
    
     .card{
        display: none;
    }

    
    .scroll::before {
    content: '';
    position: absolute;
    top: 450px;             
    left: 0;
    right: 0;
    height: 60%;
    background-color: rgb(254, 241, 238);
    z-index: -1;
    }

    .search{
        display: none;
    }

    .search-tablet{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 80%;
    max-width: 400px;
    padding: 0 15px;
    height: 55px;
    margin: 20px auto;
    justify-content: center;
}
.search-tablet input{
    padding: 12px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 17px;
    color:#191919;
    
}
.search-tablet button{
    background: #eb1700;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    color: white;
}
.search-tablet svg{
    fill: #3b3b3b;
}

  .scroll-block2 {
        flex-direction: row ;
       
        /* align-items: center; */
        justify-content: space-between;
        margin-bottom: -60px;
        display: flex;
        padding: 60px 0;
        gap: 40px;
        min-width: 90%;
        -webkit-box-align: center;
        align-items: center;
        padding: 20px;

    }
    .scroll3{
        display: flex;
        flex: 1;
        max-width: 50;
        flex-direction: column;
        justify-content: center;
    }
    .scroll3 h2{
        max-width: 90%;
        margin-top: 20px;
        color: #191919;
        font-family: var(--secondary);
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.01px;
        text-decoration: none;

    }


    .scroll3 p{

        margin-top: 10px;
        font-family: var(--primary);
        width: 386.25px;
        height: 24px;
        font-size: 16px;
        font-weight: 500;
         line-height: 22px;
        letter-spacing: -0.01px;
        text-decoration: none;

    }

    .bn{

        margin-top: 18%;
        position: relative;
        max-width: 100%;
        display: inline-flex;
        height: 40px;
        width: 146.02px;
        align-items: center;
        font-size: 14px;
        justify-content: flex-start;
        text-align: center;
    }

    
   

    .s-image, .s-image2{
        width: 318.75px;
        height: 500px;
        flex: 1;
        max-width: 45%;
        margin-bottom: 80px;
        
    }
    .scroll-block2:nth-child(odd){

        flex-direction: row-reverse;
    }
   .hello:nth-child(even){
    
        flex-direction: row-reverse;

   }

   .hside-scroll {
  background-color: #fef3ef;
  /* padding: 40px 20px; */
  text-align: center;
  margin-bottom: 18px;
  height: 78vh;
  /* padding-bottom: 5px; */
  margin-bottom: -10px;
  overflow: hidden;
  
  
}
   .scroll-container{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       
       gap: 30px;
       height: 100vh;
       max-width: 1000px;
       margin: 0 auto;
       padding: 20px;

   }

   .side{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

   }

   .side-pic img{
    width: 100%;
    height: auto;
    object-fit: contain;
   }

   

}
















